#app {
    width: 80vw;
    margin: 0 auto;
}
#numcount {
    font-size: 18pt;
    color: #000000;
    position: absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    right: 809px;
    top: 420px;

}

/* SVG Editing */

/* Hide all display Candy + Text */

/* Hide icon candy */

/* Display Ramin + speech */
